body {
	font-family: "Iosevka Web", sans-serif;
	font-size: 130%;
}
code {
	font-family: "JetBrains Mono", Monaco, monospace;
	font-size: 85%;
}
blockquote {
	font-family: "Alegreya", Times New Roman, serif;
	font-size: 100%;
}
