[Unit]
Description=Hugo Blog Service
After=network.target

[Service]
ExecStart=/usr/bin/hugo server --bind 0.0.0.0 --port 1313 --baseURL http://blog.matthew-kennedy.com
WorkingDirectory=/home/deploy/hugo-blog
User=deploy
Group=deploy
LimitNOFILE=65536
Restart=on-failure
TimeoutSec=30
PrivateTmp=true
ProtectSystem=true
NoNewPrivileges=true
AmbientCapabilities=CAP_NET_BIND_SERVICE

# Hugo generates a lot of file events, so increase limits
Environment="HUGO_NUMWORKERMULTIPLIER=2"

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
